.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bx{
  width:210px;
  height:80px;
  position:sticky;
  top:10%;
  left:0;
  overflow:hidden;
  display: flex;
  align-items: center;
}
#bx > .b{
  position:absolute;
  width:fit-content;
  height:fit-content;
  background:blue;
  left:-58%;
  transition:0.3s ease;
}

#bx:hover > .b{
  left:0px;
}

.mtgCard{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardText{
  width: 1fr;
  overflow: hidden;
}

.parentFlexRight{
  height: 100%;
  width: 45%;
  min-width: 200px;
  display: flex;
  margin-left: auto;
}

.manaIconContainer{
  height: 100%;
  width: 50%;
  min-width: 70px;
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
}

.manaIcon{
  width: auto ;
  display: flex;
  height: 30%;
  margin: 4px;
}

.actionButtons{
  height: 100%;
  min-width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .manaIcon{
    width: auto ;
    display: flex;
    height: 55%;
    margin: 4px;
  }
  .manaIconContainer{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    margin-right: auto;
    overflow: wrap;
    flex-wrap: wrap;
  }
}
